<div id="homepage">
    <div class="section home">
    	<h1>Coding Buzz</h1>
    	<h2>where (software) craftsmanship meets passion</h2>
    </div>
    <div class="section about-me">
        <h1>About me</h1>
        <div class="image-text-content">
            <div class="image-holder">
                <img src="<%= asset_path 'avatar.svg' %>" />
            </div>
            <div class="text-holder right">
                <p>
                    Hey folks! My name is Marcin, I am the CEO at Coding Buzz - a&nbsp;software company of my own. Welcome to my website!
                </p>
                <p>
                    I was born in 1991 in Bełchatów, Poland. I knew that my career would be connected with IT since I was 9 years old. Then I got my first computer and went crazy on its point.
                </p>
                <p>
                    My first serious coding classes took place when I was 13. I started with HTML and Pascal, later on I went for C++ and JavaScript, finishing on Java, Python and Ruby. In the meantime I started dealing with algorithm contests and web application development.
                </p>
                <p>
                    In my professional career I have always been trying to be self-sufficient. Today, after graduating from Technical University of Łódź and with few years of work experience I am a full stack software developer.
                </p>
            </div> 
        </div>
    </div>
    <div class="section coding-buzz">
        <h1>Feel the Buzz</h1>
        <div class="image-text-content">
            <div class="text-holder left">
                <p>
                    During work I often experience something what I call "The Coding Buzz". It's a state when I have a problem to solve, a keyboard right underneath my fingers, screen in front of my eyes and music in my ears. Nothing else matters.
                </p>
                <p>
                    <a href="http://www.elegantcoding.com/2012/04/coding-buzz.html" target="_blank">Elegant Coding</a>   writes that Coding Buzz is a <a href="http://www.elegantcoding.com/2012/04/coding-buzz.html" target="_blank" class="quote">"narcotic moment of creative bliss when all other distractions and even personal problems melt away into the background and your mind and fingers become one with your editor begetting a symphony of code creation"</a>.   
                </p>
                <p>
                    This is the genesis of my company's name. It's also a guarantee that I work on every project with the utmost care. Why? Because I love to feel the Buzz.
                </p>
            </div>
            <div class="image-holder">
                <img src="<%= asset_path 'desk.svg' %>" />
            </div> 
        </div>
    </div>
    <div class="section work-home">
        <h1>Work experience</h1>
        <h2>since 2012</h2>
    </div>
    <div class="section work">
        <div class="slide">
            <h1>Comarch</h1>
            <h2>My first job. Here I learned the Java EE technology stack.</h2>
            <a href="http://www.comarch.pl/" target="_blank">Comarch's website</a>
        </div>

        <div class="slide">
            <h1>Goodylabs</h1>
            <h2>Here I learned front end development, application deployment and how to use Ruby on Rails.</h2>
            <a href="http://goodylabs.com/" target="_blank">Goodylabs' website</a>
        </div>

        <div class="slide">
            <h1>Creality</h1>
            <h2>Series of web applications helping to carry out promotional events.</h2>
            <a href="http://www.creality.pl/" target="_blank">Website of Creality</a>
        </div>

        <div class="slide">
            <h1>Outbox</h1>
            <h2>My current place of work.</h2>
            <a href="http://outbox.pl/" target="_blank">Website of Outbox</a>
        </div>
    </div>
    <div class="section contact-me">
    	<h1>Contact me</h1>
        <h2>Do You have a job offer for me? Or simply want to talk? You can email me directly (<a href="mailto:marcin@coding.buzz">marcin@coding.buzz</a>) or find me on:</h2>
        <a href="https://www.facebook.com/cines91" target="_blank" class="icon"><i class="fa fa-facebook-square"></i></a>
        <a href="http://pl.linkedin.com/pub/marcin-skiba/8a/14a/749" target="_blank" class="icon"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://github.com/ilu2112" target="_blank" class="icon"><i class="fa fa-github-square"></i></a>
    </div>
</div>