<div id="homepage">
    <div class="section">
    	<h1>Coding Buzz</h1>
    	<h2>where (software) craftsmanship meets passion</h2>
    </div>
    <div class="section">
    	<h1>About me</h1>
    </div>
    <div class="section">
    	<h1>My work</h1>
    </div>
    <div class="section">
    	<h1>Contact me</h1>
    </div>
</div>